.pd-wrap {
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
}

.heading-section {
    text-align: center;
    margin-bottom: 20px;
}

.sub-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading-section h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
}

.quote {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}

.name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}

.position {
    color: #adadad;
    font-size: 14px;
}


.product-name {
    color: black;
    font-size: 25px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
}

.product-category {
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    margin-bottom: 10px;
}

.product-price-discount {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.product-info {
    width: 100%;
}

.reviews-counter {
    font-size: 13px;
}

.reviews-counter span {
    vertical-align: -2px;
}

.rate {
    float: left;
    padding: 0 10px 0 0;
}

.rate:not(:checked)>input {
    position: absolute;
    left: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color: #ccc;
    margin-bottom: 0;
    line-height: 21px;
}

.rate:not(:checked)>label:before {
    content: '\2605';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.coverThisMoney {
    border: 1px solid #d7d7d7;
    padding: 0 4px 0 4px;
    border-radius: 50%;
    font-size: 12px;
    color: gray;
}

.statusProMax {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.product-dtl {
    display: flex;
    flex-direction: column;
}

.product-dtl p {
    font-size: 16px;
    line-height: 24px;
    color: #7a7a7a;
}

.gutton {
    gap: 2%;
    width: 100%;
    display: flex;
    height: 100;
}

.buhhuh {
    background-color: #fff;
    display: flex;
    gap: 7%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.buhhuh2 {
    background-color: #fff;
}

.holdTall {
    border: 2px solid #FEA116;
    padding: 2%;
}

.product-dtl .form-control {
    font-size: 15px;
}

.product-dtl label {
    line-height: 16px;
    font-size: 15px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.starGlow {
    color: #FEA116;
    font-size: 20px;
}

.starGlowFriend {
    background-color: #FEA116;
    color: #fff;
    padding: 0 4px 0 6px;
    border-radius: 4px;
    font-size: 16px;
}

.starGlowFriend2 {
    background-color: #FEA116;
    color: #fff;
    padding: 0 4px 0 4px;
    border-radius: 4px;
    font-size: 16px;
}

.product-count .qtyminus,
.product-count .qtyplus {
    width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}

.product-count .qtyminus {
    border-radius: 3px 0 0 3px;
}

.product-count .qtyplus {
    border-radius: 0 3px 3px 0;
}

.product-count .qty {
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 60px;
    text-align: center;
    border: none;
}

.product-count .qty:focus {
    box-shadow: 0 0 5px #ccc;
    outline: none;
}

.round-black-btn {
    border-radius: 4px;
    background: #FEA116;
    color: #fff;
    padding: 7px 27px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #FEA116;
    transition: all 0.2s;
}

.round-black-btn:hover,
.round-black-btn:focus {
    background: transparent;
    color: #FEA116;
    text-decoration: none;
}

.product-info-tabs .nav-tabs .nav-item {
    margin-bottom: 0;
}

.product-info-tabs .nav-tabs {
    border-bottom: none !important;
}

.product-info-tabs .nav-tabs .nav-link.active {
    background-color: #fff !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: solid #ebebeb;
    border-width: 1px 1px 1px 1px;
    border-bottom: solid #fff;
    position: relative;
    z-index: 10;
}

.Mk978 {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 1.5rem;
    width: 100%;
    border: solid #ebebeb;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px;
}

.Mk9782 {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1.5rem;
    width: 100%;
    border: solid #ebebeb;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px;
}

.conquerLeft2 {
    border: 1px solid #ebebeb;
    padding: 10px 5px 10px 10px;
    background: #fff;
    border-radius: 0 4px 0 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.conquerLeft {
    border: 1px solid #ebebeb;
    padding: 15px 5px 15px 15px;
    background: #fff;
    border-radius: 0 4px 4px 4px;
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 10px;
    height: 145px;
}

.conquerLeft button,
.conquerLeft2 button {
    display: inline-block;
    color: #6d6f71;
    text-align: left;
    transition: all 0.25s;
    padding: 3px 7px 1px;
    border-radius: 4px;
}

.plusPlusDe {
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    width: 24px;
    height: 24px;
    background-color: #FEA116;
    padding: 0 4px 0 4px;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s;
}

.plusPlusDe:hover {
    background-color: #e08f15;
}

.conquerLeft button:hover,
.conquerLeft2 button:hover {
    color: #fff !important;
    background-color: #959595;
}

.conquerRight2 {
    border: solid #ebebeb;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 4px 4px;
    padding: 10px 5px 10px 10px;
    background: #fff;
}

.conquerRight {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 15px 5px 15px 15px;
    background: #fff;
    width: 72%;
}

.conquerRight .KickTitleJK,
.conquerRight2.KickTitleJK {
    text-transform: uppercase;
    color: #6d6f71;
    padding: 5px 0 0;
    margin: 10px 0 20px;
}

.cutTextRightNow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-info-tabs .nav-tabs .nav-link {
    border: none;
    color: #323232;
}

.HeroDecadeAF {
    border: solid #ebebeb;
    border-width: 1px 1px 1px 1px;
}

.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active,
.product-info-tabs .nav-tabs .nav-link.active:hover {
    font-weight: bold;
}

.Allright {
    font-size: 15px;
    color: #8b919b;
}

.review-form .form-group {
    clear: both;
}

.mb-20 {
    margin-bottom: 20px;
}

.review-form .rate {
    float: none;
    display: inline-block;
}

.review-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}

.review-form .form-control {
    font-size: 14px;
}

.review-form input.form-control {
    height: 40px;
}

.review-form textarea.form-control {
    resize: none;
}

.review-form .round-black-btn {
    text-transform: uppercase;
    cursor: pointer;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control {
    width: 8%;
    width: 0px;
}

.carousel-control.left,
.carousel-control.right {
    margin-right: 40px;
    margin-left: 32px;
    background-image: none;
    opacity: 1;
}

.carousel-control>a>span {
    color: white;
    font-size: 29px !important;
}

.carousel-col {
    position: relative;
    min-height: 1px;
    padding: 5px;
    float: left;
}

.block {
    width: 306px;
    height: 230px;
}

/*  carousel   */
.owl-prev {
    position: absolute;
    top: 50%;
    z-index: 1000;
    left: 2%;
    cursor: pointer;
    margin-top: -80px;
}

.owl-prev span {
    font-size: 70px;
    color: #d8d6d6;
}

.owl-next {
    margin-top: -80px;
    position: absolute;
    top: 50%;
    z-index: 1000;
    cursor: pointer;
    right: 2%;
}

.owl-next span {
    font-size: 70px;
    color: #d8d6d6;
}

.owl-prev:hover span,
.owl-next:hover span {
    color: #c9c7c7;
}



/* Owl Carousel */


/* Popup Text */

.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
}

.popuptext {
    display: table;
}

.popuptext p {
    margin-bottom: 10px;
}

.popuptext span {
    font-weight: bold;
    float: right;
}

/* Popup Text */

/* Icon CSS */
.item {
    position: relative;
}

.item i {
    display: none;
    font-size: 4rem;
    color: #FFF;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.item a {
    display: block;
    width: 100%;
}

.item a:hover:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.item a:hover i {
    display: block;
    z-index: 2;
}

.thisImageRespon {
    width: 500px;
    height: 333px;
}

.thisImageRespon2 {
    width: 100%;
    height: 300px;
    object-fit: fill;
}

@media (max-width: 991.98px) {
    .round-black-btn {
        padding: 7px 15px;
    }

    .thisImageRespon {
        width: 400px;
        height: 320px;
    }
}