/********** Template CSS **********/
@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap);

:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}

.btn-lg {
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.ff-secondary {
    font-family: 'Pacifico', cursive;
}

.fw-medium {
    font-weight: 600 !important;
}

.connectNow {
    z-index: 1000;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    background: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    bottom: 0;
    left: 2%;
    opacity: 0;
    animation: smooth-appear 0.5s ease forwards;
}

@keyframes smooth-appear {
    to {
        bottom: 2%;
        opacity: 1;
    }
}

.connectNow p {
    text-wrap: nowrap;
}

.connectNow .reLive {
    color: #0064D1;
}

.connectNow .reLive:hover {
    text-decoration: underline;
}

.connectNow h4 {
    background-color: #E4E6EB;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.greenW {
    color: #36D744;
}

.connectNow h4:hover,
.connectNow h4:active {
    background-color: #d4d6db;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.searchNaN {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 7px;
    border: none;
    border-radius: 99px;
}

.underSearchNaN {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}

.underSearchNaN p {
    margin: 0;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.SpecialHeader {
    background-color: #0F172B !important;
    position: relative !important;
}

.cutOut {
    border: 1px solid #ddd;
    width: 100%;
    color: gray;
    padding: 2%;
}

.cutOut option {
    color: black;
}

.cutOut:focus {
    outline: none;
    border: 1px solid #FEA116;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.nicelyDone .nicelyOne,
.nicelyOne h5 {
    margin-bottom: 3rem;
}

.nicelyDone h4,
.nicelyDone h6,
.nicelyDone p {
    margin-bottom: 1.5rem;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}

/*          Book            */
.scene {
    width: 500px;
    height: 700px;
    margin: auto;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

#book {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.paged {
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;
    -webkit-transition: 1.5s -webkit-transform;
    transition: 1.5s transform;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.upPerTown {
    font-size: 1vw;
}

.upPerTown img {
    width: 100px;
    height: 70px;
}

.upPerTown span {
    font-size: 1vw;
}

.upPerTown a {
    font-size: 1vw;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fff;
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.paged.activet {
    z-index: 1;
}

.paged.flipped {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

/*** Navbar ***/
.navbar {
    position: fixed;
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 5px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.inputSearch {
    border: none;
    padding: 2%;
    width: 100%;
}

.imgUser {
    border-radius: 50%;
}

.inputSearch:focus-visible {
    outline: none;
}

.dropdown-menu {
    right: 0px;
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
    max-height: 45px;
}

.SearchForm {
    width: 90%;
}

.SearchSubmit {
    width: 10%;
}

.responFormSearch {
    display: none !important;
}

.CateColumn {
    flex: 0 0 auto;
    width: 33.33333% !important;
}

.costumeUI {
    display: flex;
}

.humble {
    display: flex;
}

.anotherJackass {
    display: none;
}

@media (max-width: 991.98px) {
    .navbar-dark {
        background: #0F172B !important;
    }

    .hahaPri {
        font-size: 1vw !important;
    }

    .upPerTown img {
        width: 80px;
        height: 45px;
    }

    .scene {
        width: 350px;
        height: 500px;
    }

    .appearNow {
        display: none;
    }

    .subOver .dialog .dialog-block {
        width: 60vw !important;
        height: 30vh !important;
    }

    .costumeUI {
        gap: 5%;
    }

    .CateColumn {
        width: 50% !important;
    }

    .sticky-top.navbar-dark {
        position: relative;
    }

    .navbar-dark .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, .1)
    }

    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-dark .navbar-brand img {
        max-height: 45px;
    }

    .responFormSearch {
        display: block !important;
    }

    .responSearch {
        display: none !important;
    }

    .SearchSubmit {
        background: lightgray;
    }

    .SearchSubmit:focus {
        background: gray;
    }

    .Wrinked {
        margin-top: 20px;
        text-align: center;
    }

    .navbar-dark .navbar-nav .nav-link:active,
    .navbar-dark .navbar-nav .nav-link.active {
        color: #fff !important;
        background: #FEA116;
    }
}

.mulHead {
    display: flex;
    justify-content: center;
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: transparent;
    }

    .sticky-top.navbar-dark {
        position: fixed;
        background: var(--dark) !important;
    }
}

.ladyPurge {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ytui {
    display: flex;
}

.bestie {
    width: 100%;
    padding: 3rem;
}

.deleteTH {
    display: none !important;
}

.jknoob {
    text-align: right;
}

.cluk {
    width: 45%;
}

.reft {
    width: 100%;
    display: flex;
    gap: 3%;
}

.reftson1 {
    width: 20%;
}

.reftson2 {
    width: 80%;
}


.juh {
    padding: 1rem;
}

.thyoi {
    text-align: end;
}

.laughtale {
    white-space: nowrap;
    display: flex;
    gap: 5%;
    align-items: center;
}

.graph,
.graph2,
.graph3 {
    display: flex;
    margin-top: 2% !important;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 4%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.graph p,
.graph2 p,
.graph3 p {
    color: #fff;
}

.graph .bar,
.graph2 .bar,
.graph3 .bar {
    display: block;
    position: relative;
    height: 10vh;
    width: 20px;
    background: #86909A;
    padding: 0;
    margin: 0 auto;
}

.graph .bar .highIm,
.graph2 .bar .highIm,
.graph3 .bar .highIm {
    z-index: 100;
    position: absolute;
    margin: 0;
    padding-top: 5px;
    writing-mode: vertical-rl;
    opacity: 0;
}

.graph .bar:hover .highIm,
.graph2 .bar:hover .highIm,
.graph3 .bar:hover .highIm {
    transition: all 0.2s;
    opacity: 1;
}

.graph .bar .bar-content,
.graph2 .bar .bar-content,
.graph3 .bar .bar-content {
    max-height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    background: #36D744;
    padding: 0;
}

.fatherU {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.downGraph {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.downGraph .downHure {
    justify-content: center;
    display: flex;
    text-wrap: nowrap;
    gap: 5%;
}

.perKnow {
    display: none !important;
}

.alertNow {
    padding: 1.2%;
    color: black;
    text-wrap: nowrap;
    gap: 5%;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #d6f5d6;
}

.alertDelete {
    padding: 1.2%;
    color: black;
    text-wrap: nowrap;
    gap: 5%;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #ffb3b3;
}

.addAnn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
}

.colorButtonAc:hover,
.colorButtonAc:active {
    transition: all 0.2s;
    filter: brightness(0.7);
}

.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../assets/image/gifBanner.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cacoon {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    border: 1px solid gray;
}

.cacoon:nth-child(1) {
    padding: 3%;
    width: 40%;
}

.cacoon:nth-child(2) {
    padding: 3%;
    width: 40%;
}

.joincoon {
    gap: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.ImHere4You {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.Brivo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.AnotherBrivo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.image4You {
    display: none;
}

@media (max-width:575px) {
    .ImHere4You {
        flex-direction: column;
    }

    .image4You {
        display: block;
    }

    .junlen {
        width: 100%;
        height: 100px;
    }

    .Brivo {
        gap: 20px;
        flex-direction: column;
    }

    .AnotherBrivo {
        gap: 20px;
        flex-direction: column;
    }

    .cacoon {
        width: 100% !important;
    }

    .joincoon {
        width: 100%;
    }

    .addAnn {
        justify-content: center;
    }

    .downGraph .Hurekaka {
        flex-basis: 100%;
    }

    .perKnow {
        display: inline-flex !important;
        justify-content: center;
    }

    .fatherU {
        height: 350px;
    }

    .btn {
        font-size: 2.5vw !important;
        text-wrap: nowrap;
    }

    .reft {
        flex-direction: column;
        align-items: center;
    }

    .reftson1 {
        width: 70%;
    }

    .reftson2 {
        width: 100%;
    }

    .juh {
        padding: 0;
    }

    .cluk {
        width: 100%;
    }

    .overHereB {
        flex-direction: column;
    }

    .overHereB .insideHereB {
        width: 100%;
    }

    .jknoob {
        text-align: center;
    }

    .deleteTH {
        display: block !important;
    }

    .butItWrong {
        padding-top: 5%;
    }

    .bestie {
        padding: 20px 20px;
    }

    .neul {
        font-size: 3.5vw;
    }

    .ytui {
        flex-direction: column;
    }

    .autoPurge {
        flex-direction: column;
        align-items: unset !important;
    }

    .ladyPurge {
        flex-direction: column;
        align-items: unset !important;
    }

    .ladyPurge .btn-info {
        margin-top: 10px;
    }

    .row .sicky {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 50% !important;
    }

    .callMeOutUI {
        padding: 40px 10px !important;
    }

    #myDIV3,
    #myDIV5,
    #myDIV4,
    #myDIV,
    #myDIV2 {
        font-size: 3vw;
        padding: 3%;
        width: 100%;
        justify-content: space-between;
    }

    #myDIV9 {
        padding: 3%;
        font-size: 3vw;
        width: 100%;
        justify-content: space-between;
    }

    .myDIVdad {
        gap: 15px;
        flex-direction: column;
    }

    .subOver .content .page .grid {
        padding: 0 20px !important;
    }

    .flexOverPage {
        flex-direction: column;
    }

    .card-verticle {
        width: 100% !important;
    }

    .card-small {
        text-align: center;
    }

    .subOver .drawer {
        width: 60px !important;
    }

    .subOver .content .page>.header .title h2 {
        text-align: center;
    }

    .subOver .drawer .menu {
        align-items: center;
        width: 60px !important;
    }

    .subOver .drawer .menu a {
        width: 75px !important;
        height: 45px !important;
    }

    .pic-holder2 {
        width: 45px !important;
        height: 45px !important;
    }

    .uninput {
        font-size: 3.5vw;
        height: 5vh;
    }

    .anotherJackass {
        width: 100%;
        display: block;
    }

    .humble {
        justify-content: space-between;
    }

    .BossLvMax {
        flex-direction: column;
        align-items: center;
    }

    .headOverview {
        text-align: center;
        display: block !important;
    }

    .headOverview .button4Edit {
        margin-top: 2%;
    }

    .headOverview h5 {
        font-size: 3.5vw;
    }

    .thisImageRespon {
        width: 100% !important;
    }

    .jackass {
        display: contents !important;
    }

    .thhuhu {
        display: none !important;
    }

    .coverNOut {
        display: contents !important;
    }

    .coverNOut p {
        font-size: 3.5vw;
        white-space: nowrap;
    }

    .solotable {
        font-size: 3.5vw;
    }

    .hugeImpace p {
        font-size: 3.5vw;
        white-space: nowrap;
    }

    .buttonN1 {
        justify-content: space-between;
    }

    .buttonN1 .btnFirst {
        padding: 1.3% !important;
    }

    .buttonN1 .btnSecond {
        padding: 1.3% !important;
    }

    .buhhuh {
        display: block !important;
    }

    .product-name {
        font-size: 30px !important;
    }

    .sonbuhhuh {
        padding-top: 5%;
    }

    .CatuRespon {
        width: 45% !important;
    }

    .businessWay .joiboy {
        display: none;
    }

    .ReturnH {
        padding: 2.5% !important;
    }

    .businessWay .slash {
        display: none;
    }

    .businessWay .active {
        display: block;
    }

    .Jkaem {
        padding-bottom: 5%;
    }

    .product-item .product-item-image img {
        height: 150px !important;
    }

    .allover3 {
        display: none;
    }

    .outsider {
        width: 60vw !important;
    }

    .outsider form {
        padding: 2%;
    }

    .btn-lg-square {
        width: 40px;
        height: 40px;
    }
}


/*** Hero Header ***/

.hero-header img {
    animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate {
    100% {
        transform: rotate(360deg);
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 99px;
}

#lblCartCount {
    border-radius: 99px;
    font-size: 12px;
    background: var(--primary);
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -2px;
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Food Menu ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

/*** Testimonial ***/
.testimonial-item {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

.tab-content .activeThis {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.4s, transform 0.4s;
}

.tab-pane {
    opacity: 0;
    transform: translateY(20px);
}

/*** Footer ***/

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light);
    color: var(--dark);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}